.electronicDeviceRight {
  flex: 1;
}
.electronicDeviceRight__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ededed;
  padding: 13px 20px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}
.electronicDeviceRight__header > span {
  color: #555;
}
.electronicDeviceRight__header-options {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
  text-transform: capitalize;
}
.electronicDeviceRight__header-option {
  background-color: #fff;
  border-radius: 2px;
  padding: 10px 15px;
  cursor: pointer;
  height: 39px;
  box-sizing: border-box;
}
.electronicDeviceRight__header-option-order-active {
  color: #ee4d2d;
}
.electronicDeviceRight__header-option:last-child {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 180px;
  z-index: 10;
}
.electronicDeviceRight__header-option-price-state {
  display: flex;
  justify-content: space-between;
  transform: translateY(-2px);
  align-items: center;
}
.electronicDeviceRight__header-option-price--active
  > .electronicDeviceRight__header-option-price-state
  > span {
  color: #ee4d2d;
}
.electronicDeviceRight__header-option-tags {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 10px 15px;
  bottom: -69px;
  left: 0;
  display: none;
}
.electronicDeviceRight__header-option:last-child:hover
  > .electronicDeviceRight__header-option-tags {
  display: flex;
}
.electronicDeviceRight__header-option-tags > div:hover {
  color: #ee4d2d;
}
.electronicDeviceRight__header-option--active {
  background-color: #ee4d2d;
  color: #fff;
}
.electronicDeviceRight__header-page-controller {
  display: flex;
  align-items: center;
  gap: 15px;
}
.electronicDeviceRight__header-current-page {
  color: #ee4d2d;
}
.electronicDeviceRight__header-controller {
  display: flex;
}
.electronicDeviceRight__header-btn {
  display: grid;
  place-content: center;
  background-color: #fff;
  width: 18px;
  height: 18px;
  padding: 9px;
  margin-right: 1px;
  border-radius: 2px;
  cursor: pointer;
}
.electronicDeviceRight__header-btn--disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: #f5f5f5;
  cursor: default;
}

.electronicDeviceRight__body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 15px;
}
