.category {
  width: 1200px;
  background-color: #fff;
}
.category__title {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  padding: 20px;
}
.category__column {
  width: 100%;
}
.category__item {
  border: solid 1px rgba(0, 0, 0, 0.05);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  height: 150px;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
}
.category__item:hover {
  border: solid 1px rgba(0, 0, 0, 0.15);
}
.category__item > div {
  height: 85px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.category__item-gray-circle {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #ebe3e3;
  /* z-index: 10; */
}
.category__item img {
  height: 65%;
  z-index: 2;
}
.category__item span {
  font-size: 13px;
  padding: 0 10px;
  margin-top: 5px;
  text-transform: capitalize;
}
