.login__box {
  background-color: #fff;
  position: absolute;
  right: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 20px 30px;
  width: 410px;
}
.login__top {
  display: flex;
  gap: 20px;
  align-items: center;
}
.login__top > span {
  font-size: 20px;
  color: #222;
}
.login__withQr {
  font-size: 14px;
  background-color: #fefaec;
  color: #ffbf00;
  font-weight: 700;
  padding: 10px 14px;
  border: solid 2px #ffbf00;
  width: 170px;
  box-sizing: border-box;
  position: relative;
}
.login__withQr::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #fefaec;
  right: -8px;
  top: 20px;
  border-top: solid 2px #ffbf00;
  border-left: solid 2px #ffbf00;
  transform: rotate(135deg);
}
.login__qrCode {
  position: relative;
}
.login__qrCode > svg {
  width: 40px;
  height: 40px;
  color: #ee4d2d;
  cursor: pointer;
}
.login__input {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}
.login__input > input {
  padding: 12px;
  font-size: 14px;
  outline-color: rgba(0, 0, 0, 0.5);
}
.login__btn {
  width: 100%;
  margin-top: 30px;
  background-color: #ee4d2d;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.login__btn:hover {
  opacity: 0.9;
}
.login__btn-disable,
.login__btn-disable:hover {
  cursor: not-allowed;
  opacity: 0.7;
}

.login__belowLoginBtn {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.login__belowLoginBtn > a {
  text-decoration: none;
  color: #0055aa;
  font-size: 12px;
}
.login__or {
  position: relative;
  padding: 10px 0 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
}
.login__or > span {
  position: absolute;
  text-transform: uppercase;
  background-color: #fff;
  padding: 0 20px;
  font-size: 12px;
  color: #ccc;
}
.login__social {
  display: flex;
  gap: 10px;
}
.login__social-item {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex: 1;
  padding: 8px 10px;
  border: solid 1px #d1d2d4;
  border-radius: 2px;
  cursor: pointer;
}
.login__social-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.login__social-item > img {
  height: 22px;
}
.login__social-item > span {
  text-transform: capitalize;
}
.login__bottom {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.login__bottom a {
  color: #ee4d2d;
  text-decoration: none;
}
